{% extends "page.html.twig" %}

  {% block header %}
    <h1>JE SUIS UN HEADER !!!</h1>
    {{ parent() }}
  {% endblock %}

  {% block main %}
    <h1>JE SUIS UN MAIN !!!</h1>
    {{ parent() }}
  {% endblock %}

  {% block footer %}
    <h1>JE SUIS UN FOOTER !!!</h1>
    {{ parent() }}
  {% endblock %}
