{% extends page.html.twig %}

{% block header %}
  <h1>JE SUIS UNE PAGE HEADER</h1>
{% endblock %}

{% block main %}
  <h1>JE SUIS UNE PAGE MAIN</h1>
{% endblock %}


{% block footer %}
  <h1>JE SUIS UNE PAGE FOOTER</h1>
{% endblock %}

